<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/26d7c826-abd1-4892-afe5-321735e52959/resourceGroups/tedumicroservices-rg/providers/Microsoft.Web/sites/identity-tedu</ResourceId>
    <ResourceGroup>tedumicroservices-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://identity-tedu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ed4128e-e440-4794-9b45-fd8406fc9347</ProjectGuid>
    <PublishUrl>https://identity-tedu.scm.azurewebsites.net/</PublishUrl>
    <UserName>$identity-tedu</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>